@media screen and(max-width:600px) {
	.theme-btn {
		width: 50px;
		height: 50px;
	}
	.about-container {
		grid-template-columns: 1fr !important;

		.right-about {
			grid-template-columns: 1fr !important;
			padding-top: 2.5rem;
		}
		.left-about {
			padding-right: 0;

			p {
				padding-left: 0;
			}
		}
	}
	.main-title {
		h2 {
			font-size: 2rem !important;

			span {
				font-size: 2.5rem !important;
			}
			.bg-text {
				font-size: 3rem !important;
			}
		}
	}
	.timeline {
		grid-template-columns: 1fr !important;
		display: flex;
		justify-content: center;
		align-items: center;
		padding-bottom: 6rem;
	}

	.portfolios {
		grid-template-columns: 1fr !important;
		padding-bottom: 6rem;
	}
	.section {
		padding: 2rem 2.5rem;
	}
}

@media screen and(max-width:1432px) {
	header {
		padding: 0 !important;
	}
	.section {
		padding: 7rem 11rem;
	}
	.contact-content-con {
		flex-direction: column;

		.right-contact {
			margin-left: 0;
			margin-top: 2.5rem;
		}
	}
	.contact-content-con .right-contact .i-c-2 {
		flex-direction: column;
	}
	.contact-content-con .right-contact .i-c-2 :last-child {
		margin-left: 0 !important;
		margin-top: 1.5rem;
	}
}

@media screen and(max-width:1070px) {
	.about-container {
		grid-template-columns: 1fr;

		.right-about {
			padding-top: 2.5rem;
		}
	}
	.portfolios {
		grid-template-columns: 1fr 1fr;
	}
	.main-title {
		h2 {
			font-size: 4rem;

			span {
				font-size: 4rem;
			}
			.bg-text {
				font-size: 4.5rem;
			}
		}
	}
}
@media screen and(max-width:970px) {
	header {
		padding: 0;
	}
	header .right-header {
		padding: 0.8rem !important;
	}
	.header-content {
		grid-template-columns: 1fr !important;
		padding-bottom: 6rem !important;
	}
	.left-header {
		.h-shape {
			display: none;
		}
	}
	.right-header {
		grid-row: 1;
		width: 90%;
		margin: 0 auto;

		.title {
			font-size: 2.5rem !important;
		}
	}
	.header-content .left-header .image {
		margin: 0 auto;
		min-height: 100vh;
	}
	.section {
		padding: 7rem 6rem;
	}

	.controls {
		flex-direction: row !important;
		justify-content: center !important;
		top: auto !important;
		bottom: -2rem;
		left: 0;
		transform: translateX(-50%);
		background-color: var(--color-grey-5);
		width: 100%;

		.control {
			margin: 0.6rem 1rem !important;
		}
	}
}

@media screen and(max-width:700px) {
	.section {
		padding: 7rem 3rem;
	}
	.about-stats {
		.progress-bars {
			grid-template-columns: 1fr !important;
		}
	}
	.main-title {
		h2 {
			font-size: 3rem;

			span {
				font-size: 3rem;
			}
			.bg-text {
				font-size: 4rem;
			}
		}
	}
}
